{{!< default}}
<div class="site-container">
	<div class='site-center-1-5'>
		<h2 class='text-center'>{{{siteInfo.text.intro.title}}}</h2>
		<p class='page-intro'>
			{{{siteInfo.text.intro.body}}}
		</p>
	</div>

	<hr class='hr-dashed site-center-1-5'>

	<div class='intro-box site-center-1-5'>
		<div class='intro-box__img'>
			<img src='{{siteInfo.headshotUrl}}' alt='Image of the developer'>
		</div>
		<div class='intro-box__body'>
			<p>
				{{{siteInfo.text.about}}}
			</p>
			<div class='intro-box__buttons button-group expanded'>
				<a class='button' href='mailto:{{ siteInfo.contact.email }}'>Email</a>
				<a class='button' href='{{ siteInfo.links.portfolio }}' target='_blank'>Portfolio</a>
			</div>
		</div>
	</div>
</div>
