<section class='note-card'>
	<h4 class='note-card__title' beacon-click='{{ title }}' beacon-click-category='Note Item List'><a href='{{noteUrl slug}}'>{{title}}</a></h4>
	<div class='note-card__meta'>
		<div>{{date publishedDate}}</div>
		<div>{{category.name}} &rarr; {{subcategory.name}}</div>
	</div>
</section>
