<div class='project-card'>
	<button class='project-card__preview' data-toggle={{title}} style='background-image:url({{image}})' beacon-click='{{ title }}' beacon-click-category='Project Cards'>
		<h4 class='project-card__title project-card__preview__label'>{{title}}</h4>
	</button>
	<div class='dropdown-pane project-card__content' id={{title}} data-dropdown>
		<p>{{{body.html}}}</p>
		<div class='project-card__controls'>
			{{# if links.demo}}
			<a href={{links.demo}}>Demo</a>
			{{/if}}
			{{# if links.github}}
			<a href={{links.github}}>GitHub</a>
			{{/if}}
		</div>
	</div>
</div>
